# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.env/

# ML Model files (auto-generate hoti hain)
model.pkl
scaler.pkl
*.pkl

# Environment variables (secret keys)
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/